.aof-footer {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #E3740F;

  .aof-footer-container {
    & > div {
      vertical-align: center;

      p { margin: 0; color: white; }

      a {
        text-decoration: none;
        color: black;
        font-weight: 600;
      }
    }
  }
}

.aof-footer-menu {
  li {
    display: inline-block;
    margin-right: 20px;
  }
}
