<div class="aof-page" scroll-directive>
    <app-jumbotron name="page-top" #jumbotronRef></app-jumbotron>

    <app-content-section
            name="tech"
            title="Packet With Power"
            description="Angular on Fire comes packet with the best tools in the Market, all pre-configured and ready to help you get started on your projects faster.">
        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap="5%">
            <app-flex-block
                    fxFlex
                    name="angular"
                    image="angular-logo.png"
                    title="Angular 8"
                    content="All the latest features like web workers, deferential and improved lazy loading, Node 10 support and all the goodies Angular provides."
            ></app-flex-block>

            <app-flex-block
                    fxFlex
                    name="rxjs"
                    image="rxjs-logo.png"
                    title="RxJs 6"
                    content="Take your projects to the next level with RxJs, the power of observables at your fingertips."
            ></app-flex-block>
        </div>

        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap="5%">
            <app-flex-block
                    fxFlex
                    name="firebase"
                    image="firebase-logo.png"
                    title="Firebase"
                    content="The power of Firebase services at your disposal, file storage, object database, hosting, cloud functions and much more."
            ></app-flex-block>

            <app-flex-block
                    fxFlex
                    name="cypress"
                    image="cypress-logo.png"
                    title="Cypress"
                    content="Cypress has taken the development community by storm, with it's great interface and ease to use apis, you can have your application tested in no time."
            ></app-flex-block>
        </div>

        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap="5%">
            <app-flex-block
                    fxFlex
                    name="jest"
                    image="jest-logo.png"
                    title="Jest"
                    content="Test runner created by Facebook, widely used, vast documentation and community support."
            ></app-flex-block>

            <app-flex-block
                    fxFlex
                    name="circleci"
                    image="circleci-logo.png"
                    title="Ci/Cd Ready"
                    content="Angular on Fire comes ready for ci/cd deployments with Circle CI, everything is pre-configured, all you have to do is link your Github account to Circle CI, push code and voalá!"
            ></app-flex-block>
        </div>
    </app-content-section>

    <app-content-section
            #documentation
            name="documentation"
            title="Getting Started"
            description="Get your Angular project up and running in just a few minutes">
        <div class="aof-docs-container" fxLayout="row" fxLayoutGap="60px">
            <div fxFlex="180px">

                <div class="aof-docs-context-menu">
                    <h3>Topics</h3>
                    <ul>
                        <li><a href="#documentation">Getting Started</a></li>
                        <li><a href="#firebase-integration">Firebase Integration</a></li>
                        <li><a href="#circle-ci-integration">Circle CI Integration</a></li>
                        <li><a href="#release-automation">Release Automation</a></li>
                        <li><a href="#unit-tests">Unit Tests</a></li>
                        <li><a href="#e2e-tests">E2E Tests</a></li>
                    </ul>
                </div>
            </div>
            <div fxFlex>
                <markdown [data]="docsMarkdown" lineNumbers></markdown>
            </div>
        </div>
    </app-content-section>

    <app-content-section
            name="contributions"
            title="Contributions"
            description="We love contributions, help us make Angular On Fire even better!">
        <p>There is always room for improvement, and we are always accepting pull requests bug fixes and improvements.</p>
        <p>All you have to do is submit a PR following the guidelines in the template and we will take a look as son as we can.</p>
    </app-content-section>

    <app-footer></app-footer>

    <app-scroll-top [target]="jumbotronRef.element"></app-scroll-top>
</div>
