@import './partials/colors';

.aof-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  color: $textColor;
}

h1, h2 { color: $titleColor; }
h3, h4, h5, h6 { color: $headingColor; }

@import './partials/flames';
@import './partials/list';
@import './partials/docs';
@import './partials/tech';
@import './partials/contributions';


.aof-demo-container {
  height: 500px;
}


