.aof-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@import '../partials/flames';
@import '../partials/list';
@import '../partials/docs';

$accentColor: #E3740F;

.aof-tech-section {
  h2 {
    color: $accentColor;
  }
}

.aof-demo-container {
  height: 500px;
}

.aof-context-menu {
  h3 {
    margin: 0 0 15px 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 0;
      a {
        line-height: 32px;
        text-decoration: none;
        color: black;

        &:hover {
          color: $accentColor;
        }
      }
    }
  }
}
