.aof-section {
  padding: 100px 0;

  .aof-section-container {
    & > h2 {
      font-size: 32px;
      line-height: 42px;
      text-align: center;
      margin-bottom: 20px;

      @media screen and (min-width: 960px) {
        font-size: 62px;
        line-height: 62px;
      }
    }

    & > p {
      font-size: 18px;
      line-height: 24px;
      text-align: center;

      @media screen and (min-width: 960px) {
        font-size: 22px;
        line-height: 28px;
      }
    }
  }

  .aof-section-content {
    padding-top: 40px;
  }
}
