<section class="aof-jumbotron" [ngStyle]="{height: innerHeight + 'px'}">
    <div class="aof-angular-logo">
        <app-flames size="large" speed="slow"></app-flames>
        <app-flames size="medium"></app-flames>
        <app-flames size="small" id="small-one" speed="slow"></app-flames>
        <app-flames size="small" id="small-two" speed="normal"></app-flames>
        <app-flames size="small" id="small-center" speed="fast"></app-flames>
        <img src="assets/angular-logo-large.png" alt="Angular JS Logo" title="Angular On Fire"/>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1>On Fire</h1>
        <p>Pre-Configured Angular Project with RxJs, Firebase, Cypress, Jest and Server Side Rendering.</p>
        <a class="aof-main-action" href="https://github.com/layoutzweb/angular-on-fire" title="See Angular On Fire on Github" target="_blank">
            View It On <strong>Github</strong>
        </a>
    </div>
</section>
