@-webkit-keyframes animatedGradient {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes animatedGradient {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@-o-keyframes animatedGradient {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@keyframes animatedGradient {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}

.aof-jumbotron {
  overflow: hidden;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(358deg, #e61b1b, #eeac07);
  background-size: 400% 400%;
  -webkit-animation: animatedGradient 30s ease infinite;
  -moz-animation: animatedGradient 30s ease infinite;
  -o-animation: animatedGradient 30s ease infinite;
  animation: animatedGradient 30s ease infinite;
  padding: 0 20px;
  position: relative;

  .aof-angular-logo {
    height: 200px;
    width: 200px;
    position: relative;
    text-align: center;

    @media screen and (min-width: 960px) {
      height: 250px;
      width: 250px;
    }

    @media screen and (min-width: 1280px) {
      height: 300px;
      width: 300px;
    }

    img {
      max-height: 100%;
      z-index: 10000;
      position: relative;
    }
  }

  h1, p {
    color: white;
    text-align: center;
  }

  h1 {
    font-size: 56px;
    line-height: 68px;
    margin-bottom: 30px;

    @media screen and (min-width: 960px) {
      font-size: 82px;
      line-height: 92px;
    }
  }

  p {
    font-size: 22px;
    line-height: 30px;

    @media screen and (min-width: 960px) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  .aof-main-action {
    display: inline-block;
    padding: 0 40px;
    font-size: 22px;
    line-height: 62px;
    font-weight: 600;
    text-decoration: none;
    background-color: black;
    border-radius: 31px;
    margin-top: 40px;
    color: #E3740F;

    & > strong {
      color: white;
    }
  }

  & > * {
    z-index: 5;
  }
}
