.aof-flex-box {
  padding: 60px 0;

  figure {
    height: 140px;
    width: 140px;
    overflow: hidden;
    text-align: center;

    & > img {
      max-height: 100%;

      @media screen and (min-width: 960px) {
        max-height: 70%;
      }
    }
  }

  & > div {
    flex: 1;

    p, h3 {
      text-align: center;

      @media screen and (min-width: 960px) {
        text-align: left;
      }
    }

    p {
      font-size: 16px;

      @media screen and (min-width: 600px) {
        text-align: justify;
      }
    }
  }
}
